:root {
  --background: white;
  --text: black;
  --gray: gray;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  visibility: hidden;
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.modalContents {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  background-color: var(--background);
  color: var(--text);
  padding: 10px 20px;
}

.button {
  padding: 10px;
}

.mainButtonWrapper {
}

.buttonWrapper {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.changeTitleButton {
  padding: 10px;
}

.openButton {
  padding: 10px;
  margin-left: 20px;
}
.button {
  margin-right: 10px;
}

.row {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.dialogTitle {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

.inputTitle {
  width: 20%;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.userInput {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}
